<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.svg" alt="logo" width="500" height="500"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li><h2>Information</h2></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul>
                    <li><h2>Services</h2></li>
                    <li>Jacuzzi Hot Tubs</li>
                    <li>Clear Light Saunas</li>
                    <li>Avantikül Cold Plunges</li>
                    <li>Installation & Removals</li>
                    <li>Technical Service</li>
                </ul>
                <ul>
                    <li><h2>Contact</h2></li>
                    <li><a href="/contact">We are located at <br>3035 Broad St, San Luis Obispo, CA 93401</a></li>
                    <li><a href="tel:805-544-3565">T: (805) 544-3565</a></li>
                    <li><a href="mailto:jacuzzislo@gmail.com">Click to Email</a></li>
                </ul>
                <ul>
                    <li><h2>Hours</h2></li>
                    <li>Monday: Closed</li>
                    <li>Tuesday: 10 AM - 5 PM</li>
                    <li>Wednesday: 10 AM - 5 PM</li>
                    <li>Thursday: 10 AM - 5 PM</li>
                    <li>Friday: 10 AM - 5 PM</li>
                    <li>Saturday: 10 AM - 4 PM</li>
                    <li>Sunday: 12 PM - 3 PM</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">K.I.T.</a>
        <span class="copyright"> Copyright 2022 - Present</span>
    </div>
</footer>