---
layout: 'base.html'
description: "Enhance the beauty and functionality of your home with our professional design."
metaTitle: 'About Slo Spas and the work we do'
tagTitle: 'Slo Spas | Spa Services | San Luis Obispo County California | Jacuzzi | Bellagio | Clearlight | Sauna | Cold Plunge | Hot Tub'
permalink: 'catalog/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/cabinets2-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/services.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Catalog</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Catalog                   -->
<!-- ============================================ -->


<section id="services-1354">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <label class="collapse" for="_1">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Jacuzzi</span> Hot Tubs</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/landing.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>
            </li>
            <li class="cs-item">
                <label class="collapse" for="_2">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Bellagio</span> Hot Tubs</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/Bell1.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>
            </li>
            <li class="cs-item">
                <label class="collapse" for="_3">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Clearlight</span>Infrared Saunas</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/SaunaShow.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>
            </li>
            <li class="cs-item">
                <label class="collapse" for="_4">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Cold</span> Plunges</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/AvanShow.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>    
            </li>
        </ul>
        <label class="hide">
            <input id="_1" type="radio" name="c1"> 
            <div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">J-200 Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/J200 series.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">J-300 Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/J300 series.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">J-400 Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/J400 series.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">Swim Spa Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/SwimSpa series.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: auto auto auto auto;">
                <ul class="grid-item">
                    <h3>Price Range: $3,500 - $7,000</h3>
                    <p> Quality and value meld in the 200 series Hot Tub, built with superior materials and distinct Jacuzzi® design and features a full-size lounge seat for enjoyable hydromassage. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $3,500 - $10,000</h3>
                    <p>With 3-8 seating options, this series model features a mix of semi-lounge seating combined with upright seating, all ergonomically-designed to deliver comfort in a compact hot tub.</p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $8,000 - $15,000</h3>
                    <p>With 5-9 seating options, the special edition hot tub is precision designed, assembled and enhanced for the optimal hydrotherapy experience. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $15,000 - $30,000</h3>
                    <p>The best high-performance swim experience, combining the best aquatic technology with the therapeutic power of Jacuzzi® PowerPro® jets </p>
                </ul>
                </ul>
            </div>
            <input id="_2" type="radio" name="c1">
            <div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">Superior</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/BellSup.jpg" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">Caspian Sea</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/BellCaspian.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">Baikal</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/BellBaikal.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">Diablo</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/BellDiablo.jpg" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: auto auto auto auto;">
                <ul class="grid-item">
                    <h3>Price Range: $2,500 - $7,000</h3>
                    <p>  Superior offers abundant jetting from the head to toe. This one-of-a-kind wellness solution brings the luxury spa experience to your backyard. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $7,500 - $12,000</h3>
                    <p>This six-person luxury spa never fails to deliver. Caspian’s precision hydrotherapy delivers our array of custom neck and shoulder jets to your full-body comfort lounger.</p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $6,000 - $12,000</h3>
                    <p>When you deserve the best, Baikal delivers. Deep comfort seating and targeted therapy transform your backyard into a paradise.</p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $1,500 - $3,000</h3>
                    <p> Diablo packs high-quality performance into a small footprint. With seating for up to three this spa features a custom lounger and adjustable jetting. </p>
                </ul>
                </ul>
            </div>
            <input id="_3" type="radio" name="c1"> 
            <div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span"> Premier IS-2</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/CL-IS2.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span"> Outdoor Sanctuary 5</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/CL-OD.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                    <li class="cs-item">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span"> Sanctuary 2</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/CL-Sanctuary-2.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: auto auto auto;">
                <ul class="grid-item">
                    <h3>Price Range: $3,500 - $7,000</h3>
                    <p> With a classic sauna design your sauna includes a wide range of features to enhance your relaxation experience. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $3,500 - $10,000</h3>
                    <p>The Clearlight Sanctuary Saunas are unlike any other. Our robust TrueWave™ Full Spectrum heating system provides all wavelengths 100% of the time to optimize your sauna session.</p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $8,000 - $15,000</h3>
                    <p>Sanctuary Saunas are unlike any other. They are the only true Full Spectrum infrared saunas available offering advanced near, mid and far infrared technologies. </p>
                </ul>
                </ul>
            </div>
            <input id="_4" type="radio" name="c1">
            <div>
                <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Avantikül</span></h3>
                    </div>
                    <picture class="cs-background">
                        <img decoding="async" src="/assets/images/Avantikul.jpg" alt="" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: auto;">
                <ul class="grid-item">
                    <h3>Price Range: $4,000 - $8,000</h3>
                    <p> Unleash the power of cold at your fingertips! Discover a world of revitalization and rejuvenation as you step into the realm of cold Hydrotherapy. </p>
                </ul>
                </ul>
            </div>
        </label>
    </div>
</section>

<!-- <label class="collapse" for="_1">Collapse 1</label>
<input id="_1" type="radio" name="c1"> 
<div>Content 1</div>

<label class="collapse" for="_2">Collapse 2</label>
<input id="_2" type="radio" name="c1">
<div>Content 2</div> -->