---
layout: 'base.html'
canonical: 'Official link for that page (https://www.slospas.com/catalog/)'
description: "Enhance the beauty and functionality of your home with our professional design."
metaTitle: 'About Slo Spas and the work we do'
tagTitle: 'Slo Spas | Spa Services | San Luis Obispo County California | Jacuzzi | Clearlight | Sauna | Cold Plunge | Hot Tub'
permalink: 'catalog/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/cabinets2-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/services.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Catalog</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Catalog                   -->
<!-- ============================================ -->


<section id="services-1354">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <label class="collapse" for="_1">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Jacuzzi</span> Hot Tubs</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/landing.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>
            </li>
            <li class="cs-item">
                <label class="collapse" for="_3">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Clearlight</span>Infrared Saunas</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/SaunaShow.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>
            </li>
            <li class="cs-item">
                <label class="collapse" for="_4">
                <div class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Cold</span> Plunges</h3>
                </div>
                <picture class="cs-background">
                    <img decoding="async" src="/assets/images/AvanShow.jpg" alt="" width="305" height="305" aria-hidden="true">
                </picture>
                </label>    
            </li>
        </ul>
        <label class="hide">
            <input id="_1" type="radio" name="c1"> 
            <div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <a href="https://www.jacuzzi.com/en-us/hot-tubs/browse-all-hot-tubs?prefn1=collection&prefv1=J-200%E2%84%A2%20Collection" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">J-200 Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/J200 series.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </a>
                    </li>
                    <li class="cs-item">
                        <a href="https://www.jacuzzi.com/en-us/hot-tubs/browse-all-hot-tubs?prefn1=collection&prefv1=J-300%E2%84%A2%20Collection" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">J-300 Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/J300 series.png" alt="" width="305" height="305" aria-hidden="true">
                        </picture>
                    </a>
                    </li>
                    <li class="cs-item">
                        <a href="https://www.jacuzzi.com/en-us/hot-tubs/browse-all-hot-tubs?prefn1=collection&prefv1=J-400%E2%84%A2%20Collection" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">J-400 Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/J400 series.png" alt="Jacuzzi spa, model J-400, premium line of spas" width="305" height="305" aria-hidden="true">
                        </picture>
                        </a>
                    </li>
                    <li class="cs-item">
                        <a href="https://www.jacuzzi.com/en-us/swim-spas/browse-all-swim-spas" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span">Swim Spa Series</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/SwimSpa series.png" alt="Jacuzzi swim spas, offering a large spa with powerful jets one can swim against." width="305" height="305" aria-hidden="true">
                        </picture>
                    </a>
                    </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: 300px 300px 300px 300px;">
                <ul class="grid-item">
                    <h3>Price Range: $7,500 - $9,000</h3>
                    <p> Quality and value meld in the 200 series Hot Tub, built with superior materials and distinct Jacuzzi® design and features a full-size lounge seat for enjoyable hydromassage. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $8,000 - $12,000</h3>
                    <p>With 3-8 seating options, this series model features a mix of semi-lounge seating combined with upright seating, all ergonomically-designed to deliver comfort in a compact hot tub.</p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $9,000 - $15,000</h3>
                    <p>With 5-9 seating options, the special edition hot tub is precision designed, assembled and enhanced for the optimal hydrotherapy experience. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $15,000 - $30,000</h3>
                    <p>The best high-performance swim experience, combining the best aquatic technology with the therapeutic power of Jacuzzi® PowerPro® jets </p>
                </ul>
                </ul>
            </div>
            <input id="_3" type="radio" name="c1"> 
            <div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <a href="https://infraredsauna.com/premier-two-person/" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span"> Premier IS-2</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/CL-IS2.png" alt="The entry model of infrared sauna from Clearlight." width="305" height="305" aria-hidden="true">
                        </picture>
                    </a>
                    </li>
                    <li class="cs-item">
                        <a href="https://infraredsauna.com/sanctuary-outdoor-five-person/" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span"> Outdoor Sanctuary 5</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/CL-OD.png" alt="The Premium outdoor model of infrared sauna from Clearlight." width="305" height="305" aria-hidden="true">
                        </picture>
                    </a>
                    </li>
                    <li class="cs-item">
                        <a href="https://infraredsauna.com/sanctuary-two-person/" target="_blank">
                        <div class="cs-link">
                            <h3 class="cs-h3"><span class="cs-span"> Sanctuary 2</span></h3>
                        </div>
                        <picture class="cs-background">
                            <img decoding="async" src="/assets/images/CL-Sanctuary-2.png" alt="The luxurious indoor model of infrared sauna from Clearlight." width="305" height="305" aria-hidden="true">
                        </picture>
                    </a>
                    </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: 300px 300px 300px;">
                <ul class="grid-item">
                    <h3>Price Range: $3,500 - $7,000</h3>
                    <p> With a classic sauna design your sauna includes a wide range of features to enhance your relaxation experience. </p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $3,500 - $10,000</h3>
                    <p>The Clearlight Sanctuary Saunas are unlike any other. Our robust TrueWave™ Full Spectrum heating system provides all wavelengths 100% of the time to optimize your sauna session.</p>
                </ul>
                <ul class="grid-item">
                    <h3>Price Range: $8,000 - $15,000</h3>
                    <p>Sanctuary Saunas are unlike any other. They are the only true Full Spectrum infrared saunas available offering advanced near, mid and far infrared technologies. </p>
                </ul>
                </ul>
            </div>
            <input id="_4" type="radio" name="c1">
            <div>
                <ul class="cs-card-group" >
                <li class="cs-item">
                    <a href="https://avantikul.com/product-category/cold-plunges/" target="_blank">
                    <div class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Avantikül</span></h3>
                    </div>
                    <picture class="cs-background">
                        <img decoding="async" src="/assets/images/Avantikul.jpg" alt="Our new Avantikül brand Cold Plunge." width="305" height="305" aria-hidden="true">
                    </picture>
                    </a>
                </li>
                </ul>
                <ul class="grid-container" style="display: grid;grid-template-columns: 300px 300px 300px 300px;">
                <ul class="grid-item">
                    <h3>Price Range: $4,000 - $8,000</h3>
                    <p> Unleash the power of cold at your fingertips! Discover a world of revitalization and rejuvenation as you step into the realm of cold Hydrotherapy. </p>
                </ul>
                </ul>
            </div>
        </label>
    </div>
</section>


