---
layout: 'base.html'
canonical: 'Official link for that page (https://www.slospas.com/projects/)'
description: "Check out our portfolio of stunning oasis setups."
metaTitle: 'Slo Spas Projects'
tagTitle: 'Slo Spas | Spa Services | San Luis Obispo County California | Jacuzzi | Clearlight | Sauna | Cold Plunge | Hot Tub'
permalink: 'projects/'
---
<!-- Enter html code below -->

{% block preload %}
<link rel="preload" as="image" href="/assets/images/cabinets2-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/projects.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Projects</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images//cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images//cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images//cabinets2.jpg" alt="" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-row cs-row-1">
                <!-- Row 1-->
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="Jacuzzi hot tub in deck" width="420" height="567">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="Jacuzzi hot tub under pergola" width="420" height="630">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="Jacuzzi hot tub on the water tropical setting" width="420" height="512">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="Jacuzzi hot tub ocean front view" width="420" height="492">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="Jacuzzi hot tub under building deck with lounge" width="420" height="517">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="Infrared sauna setup in gym" width="420" height="629">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="Night view of Jacuzzi LX luxury hot tub" width="420" height="625">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="Jacuzzi hot tub waterfall view of backyard" width="420" height="452">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="Steaming hot tub next to pool by the house" width="420" height="629">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
        <a href="/contact" class="button-solid">Get Free Quote</a>
    </div>
</section>
                                
